/* styles.css */

@font-face {
    font-family: 'EBGaramond'; /* Name your font */
    src: url('fonts/EBGaramond-VariableFont_wght.ttf') format('truetype'); /* Path to your font file */
    /* Add additional font formats if necessary */
}

header {
    background-color: #fff;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    flex: 2;
    padding: 20px;
    background-color: antiquewhite;
}

body {
    margin: 0;
    padding: 20px;
    background-color: #f0ead6;
    font-family: Arial, Helvetica, sans-serif;
}

.filter-section {
    width: 20%;
    padding: 20px;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

.filter-section h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #333;
}

footer {
    background-color: #f0ead6;
    color: #fff;
    text-align: center;
    padding: 10px;
}



h1 {
    color: #ED182F;
    font-family: EBGaramond, typeface;
}



#api-data {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    white-space: pre-wrap; /* Preserve line breaks */
}

/* Add more styles as needed */
